management:
  server:
    port: 8081
  endpoints:
    web:
      base-path: /application_name/private
      exposure:
        include: prometheus,configprops,env,health,heapdump
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      probes:
        enabled: true
    heapdump:
      enabled: true

server:
  servlet:
    context-path: /netflix
  tomcat:
    accept-count: 120
    mbeanregistry:
      enabled: true
    threads:
      max: 1200

spring:
  data:
    cassandra:
      contact-points: localhost
      port: 9042
      username: 'cassandra'
      password: 'cassandra'
      datacenter: 'datacenter1'
      keyspace: 'test_cassandra'
      schema-action: NONE
