version: '3.9'

services:
  service:
    build: template-minimum
    environment:
      - DEPLOYMENT_ENVIRONMENT=docker-compose
#      for java remote debugger open a port, eg 5005:
#      - JAVA_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    ports:
      - "8080:8080"
#      - "5005:5005"
