<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="default">
        <logger name="org.learnings" additivity="false" level="INFO" >
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <springProfile name="local | docker-compose">
        <logger name="org.learnings" additivity="false" level="DEBUG" >
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
