management:
  server:
    port: 8081
  endpoints:
    web:
      base-path: /application_name/private
      exposure:
        include: prometheus,configprops,env,health,heapdump
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      probes:
        enabled: true
    heapdump:
      enabled: true

server:
  servlet:
    context-path: /application_name
  tomcat:
    accept-count: 120
    mbeanregistry:
      enabled: true
    threads:
      max: 1200

spring:
  datasource:
    url: 'jdbc:h2:mem:students'
    driverClassName: 'org.h2.Driver'
    username: 'dbuser'
    password: 'dbpass'
  jpa:
    database-platform: 'org.hibernate.dialect.H2Dialect'
    hibernate:
      ddl-auto: 'create'
    show-sql: true
  h2:
    console:
      enabled: true
      path: '/h2-console'
      settings:
        web-allow-others: true
